@font-face {
  font-family: 'chernobyl';
  src: url('../Chernobyl.otf') format('opentype');
}


header {
  background-color: rgba(0, 17, 255, 0.26);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

#Titulo {
  text-shadow: 4px 2px 4px rgb(0, 172, 252);
  font-size: 40pt;
}

h1 {
  font-size: 22pt;
  text-shadow: 4px 2px 4px rgb(0, 217, 255);
  
}


p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16pt;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  text-transform: capitalize;
}

footer {
  font-family: 'chernobyl', sans-serif;
  font-size: 30pt;
  color: rgb(0, 255, 242);
}


/* ACTIVIDAD 2 (he puesto las id's para que no sea todo del mismo color)*/

#h1 {

    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 20pt;
}

#h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: red;
    text-decoration: underline;
    text-align: right;
}

#p {

    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: gray;
    text-align: justify;
    line-height: 1.5em;

}