.caja {
    margin: 30px 20% 0 20%;
    padding: 10px;
    
    border-top: 4px solid red;
    border-right: 6px solid blue;
    border-bottom: 2px solid green;

    background-color: yellow;
}
