@font-face {
    font-family: 'vampire';
    src: url('./fonts/ChettaVissto.otf') format('opentype');
}


nav {
    width: 400px;
    height: 70px;
    background-color: aliceblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}