
.caja {
    float: left;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
}

.caja1 {
    background-color: #007bff;
    border: 2px solid grey;
    width: 50%;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 100px;
}

.caja2 {
    background-color: #ffff00;
    width: 20%;
    height: 50px;
    line-height: 50px;
}

.caja3 {
    background-color: #ff3c00;
    border: 1px double black;
    width: 20%;
    height: 50px;
    clear: left;
    margin-top: 10px;
    line-height: 50px;
}
