#caja1 {
    background-color: cadetblue;
    width: 30%;
    height: 70px;
    text-align: center;
    margin: 20px;
    border: solid 1px black;
    float: right;
}

#caja2 {
    background-color: rgb(239, 81, 155);
    width: 30%;
    height: 70px;
    text-align: center;
    margin: 20px;
    border: solid 1px black;
    float: left;
}
