h1 {
  background-color: white;
  color: black;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

#contenedor {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  margin: 20px auto;
}

#elem1, #elem2, #elem3 {
  background-color: white;
  border: 2px solid rgb(115, 0, 255);
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}

#elem4 {
  grid-column: 1 / 3;
  background-color: rgb(89, 0, 255);
  color: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.precio {
  color: rgb(60, 0, 255);
  font-weight: bold;
  font-size: 1.3rem;
}
